 *{
     margin: 0;
     padding: 0;
 }
 li{
     list-style: none;
 }
html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
}
.swiper-button-next{
    left:50%;
    right:auto;
    top:auto;
    bottom:5%;
    margin-left:-13.5px;
    transform: rotateZ(90deg)
}



/*
    第一屏开始
*/

.mp3Btn{
    z-index: 100;
    position: absolute;
    top:5%;
    right:5%;
    background: rgba(105, 102, 102, 0.49);
    border-radius:50%;
    border: 3px solid rgba(105, 102, 102, 0.49);
    width: 20px;
    height: 20px;
    text-align: center;
    animation: z 4s infinite;
    animation-timing-function:linear;
    animation-play-state: running;
    line-height: 25px;
}
@keyframes z {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.mp3Btn img{
    width: 13px;
    height: 14px;

}
.mp3{
text-align: center;
}

 .s1,.s2,.s3,.s4,.s5,.s6{
     background:url("../img/bj.png");
     height: 100%;
     position: relative;

 }
 .s1 .header img{
     position: absolute;
 }
 .s1 .header img:nth-of-type(1){
     width: 30px;
     top:120px;
     left:50px;
     animation:rotateOutUpRight 7s;
     animation-fill-mode : forwards;
 }
 .s1 .header img:nth-of-type(2){
      width: 60px;
     top:90px;
     left:270px;
     animation:rotateOutUpLeft 7s;
     animation-fill-mode : forwards;
  }
 .s1 .header img:nth-of-type(3){
      width: 50px;
     left:30px;
     top:430px;
     animation:rotateOutUpRight 7s;
     animation-fill-mode : forwards;
  }
 .s1 .header img:nth-of-type(4){
     width: 40px;
     top:410px;
     left:280px;
     animation:rotateOutUpLeft 7s;
     animation-fill-mode : forwards;
 }
 .s1 .header img:nth-of-type(5){
     width: 68%;
     left:67px;
     top:160px;
     animation:rotateIn 8s ;
 }

 /*
    第一屏的文字部分
 */
.s1 .main{
    position: absolute;
    top:200px;
}
 .s1 .main img:nth-of-type(1){
     width: 170px;
     height: 57px;
 }
 .s1 .main img:nth-of-type(2){
     width: 320px;
     height: 80px;
     margin-bottom:25px;
 }

 .s1 .main .img9{
     background: url("../img/9.png");
     margin:auto;
     background-size:contain;
     color:#fff;
     width: 207px;
    line-height: 25px;
     border-radius: 10px;
     height: 24px;
 }


 /*
 第一屏底部
 */
.s1 .footer{
    color:#00d1aa;
    width: 100%;
    position: absolute;
    bottom:70px;
}
.s1 .footer p:nth-of-type(1){
      font-weight: bold;
  }
 .s1 .footer p:nth-of-type(2){
     margin-top:10px;
     font-size:10px;
     margin-bottom:15px;
 }
.s1 .footer img{
    position: absolute;
    height: 70px;
}
.s1 .footer img:nth-of-type(1){
    left:0;
}
 .s1 .footer img:nth-of-type(2){
     left:-88px;
 }
/*
第二屏
*/
 .s2{
     color: #09facd;
 }
 .s2 h2{
     font-size: 25px;
     position: relative;
     top:12%;
 }
 .s2 small{
     display: block;
     padding-top: 11px;
     letter-spacing: 5px;/*文字间距*/
     font-size:8px;
 }
 .s2 h2::before{
     content: "";
     background: url(../img/14.png);
     background-size: contain;/*图片适应屏幕大小*/
     width: 80px;
     height: 20px;
     display: inline-block;
     position: absolute;
    margin-left:-95px;
     margin-top:7px;
 }
 .s2 h2::after {
     background: url(../img/13.png);
     background-size: contain;
     top: 0;
     content: "";
     width: 80px;
     height: 20px;
     display: inline-block;
     position: absolute;
     margin-top:7px;
     margin-left:60px;
 }
 .s2 div{
     position: absolute;
     width: 80%;
     height: 55%;
     top:25%;
     left:50%;
     margin-left: -40%;
 }
 .s2 div img {
     width: 100%;
     position: absolute;
     left: 0;
 }
 .s2 div p {
     text-align: left;/*文字左对齐*/
     padding-left: 10%;
     padding-right:10%;
     font-size:14px;
     line-height: 1.5em;
     margin-bottom: 10px;
 }

 .s2 div p:nth-of-type(1) {
     padding-top: 20px;
 }
.s2 div span{
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #00ecfc, #00fd9d); /*Opera11*/
    color:#000;
    border-radius: 10px;
    width: 123px;
    height: 27px;
    font-size: 14px;
    font-weight: bold;/*文字加粗*/
    line-height: 25px;
    display: inline-block;
    position: absolute;
    margin-left:-60px;
    bottom: -25px;
    left: 50%;
}
 .s2 .footer{
     position: absolute;
     height: 70px;
     bottom: 0;
 }
 .s2 .footer img{
     width: 100%;
     top: 430px;
     height: 70px;
     width: 470px;
 }
 .s2 .footer img:nth-of-type(2){
     left: -80px;
 }
.s3{
    color: #09facd;
}
 .s3 h2{
     font-size: 25px;
     position: relative;
     top:12%;
 }
.s3 small{
    padding-top:11px;
    display: block;
    font-size:7px;
    letter-spacing: 5px;
}
 .s3 h2::before{
     content: "";
     background: url(../img/14.png);
     background-size: contain;/*图片适应屏幕大小*/
     width: 80px;
     height: 20px;
     display: inline-block;
     position: absolute;
     margin-left:-95px;
     margin-top:7px;
 }
 .s3 h2::after {
     background: url(../img/13.png);
     background-size: contain;
     top: 0;
     content: "";
     width: 80px;
     height: 20px;
     display: inline-block;
     position: absolute;
     margin-top:7px;
     margin-left:60px;
 }
.s3 img:nth-of-type(2){
    position: absolute;
    top:150px;
    right:100px;
}

 .s3 img:nth-of-type(1){
     position: absolute;
     top:150px;
     left:100px;
 }
 .s3 img:nth-of-type(3){
     position: absolute;
     top:41%;
     left:10%;
 }
 .s3 img:nth-of-type(5){
     position: absolute;
     top:60%;
     left:25%;
 }
 .s3 img:nth-of-type(4){
     position: absolute;
     top:60%;
     right:25%;
 }
 .s3 img:nth-of-type(6){
     position: absolute;
     top:41%;
     right:10%;
 }
 .s3 img:nth-of-type(7){
     position: absolute;
     top:36%;
     right:32%;
 }
 .s3 p{
     position: absolute;
     bottom:10%;
     width: 270px;
     text-align: left;
     font-size:13px;
     left:12%;
 }
 .s3 span{
     width: 4px;
     height:35px;
     background: #09facd;
     display:block;
     position: absolute;
     bottom:9.9%;
     left:7%;
 }
.s4{
    color: #09facd;
}
.s4 h2{
    position: relative;
    font-size: 25px;
    top:12%;
}
.s4 small{
    display: block;
    letter-spacing: 5px;
    padding-top:10px;
    font-size:7px;
}
 .s4 h2::before {
         content: "";
         background: url(../img/14.png);
         background-size: contain; /*图片适应屏幕大小*/
         width: 80px;
         height: 20px;
         position: absolute;
         left:40px;
         top:6px;
         display: inline-block;
     }
 .s4 h2::after {
     content: "";
     background: url(../img/13.png);
     background-size: contain; /*图片适应屏幕大小*/
     width: 80px;
     height: 20px;
     position: absolute;
     right:40px;
     top:6px;
     display: inline-block;
 }
 .s4 div{
     position: absolute;
     width: 90%;
     height: 55%;
     top:25%;
     left:45%;
     margin-left: -40%;
 }
 .s4 div img{
     width: 100%;
     position: absolute;
     left:0;
 }
 .s4 div img:nth-of-type(2){
       width:20px;
       position:absolute ;
       left:65px;
       top:30px;
       display: block;
   }
 .s4 div img:nth-of-type(3){
     width: 20px;
     position:absolute ;
     left:55%;
     top:30px;
 }
 .s4 .p1{
     position: absolute;
     left:100px;
     top:31px;
     font-size:15px;
 }
 .s4 .p2{
     position: absolute;
     left:220px;
     top:31px;
     font-size:15px;
     color:dodgerblue;
 }
 .s4 .p3{
     position: absolute;
     bottom:-20px;
     font-size:15px;
 }
 .s4 .main img:nth-of-type(1){
     width: 13px;
     position: absolute;
     top:30%;
     left:0;
 }
 .s4 .main p:nth-of-type(1){
     position: absolute;
     top:29.1%;
     left:22px;
     font-size:14px;
 }
 .s4 .main span{
     color:#fff;
 }
.s4 .main img:nth-of-type(2){
    width: 250px;
    height: 14px;
    position: absolute;
    top:35%;
    left:0;
 }
.s4 .main p:nth-of-type(2){
    font-size: 14px;
    position: absolute;
    top:34%;
    left:255px;
}
 .s4 .main img:nth-of-type(3){
     width: 190px;
     height: 14px;
     position: absolute;
     top:40%;
     left:0;
 }
 .s4 .main p:nth-of-type(3){
     font-size: 14px;
     position: absolute;
     top:39.6%;
     left:195px;
     color:dodgerblue;
 }
 .s4 .main img:nth-of-type(4){
     width: 13px;
     position: absolute;
     top:47%;
     left:0;
 }
 .s4 .main p:nth-of-type(4){
     position: absolute;
     top:46%;
     left:20px;
     font-size: 14px;
 }
 .s4 .main img:nth-of-type(5){
     width:210px;
     height: 14px;
     position: absolute;
     top:52%;
     left:0;
 }
 .s4 .main p:nth-of-type(5){
     position: absolute;
     top:51.4%;
     left:215px;
     font-size: 14px;
 }
 .s4 .main img:nth-of-type(6){
     position: absolute;
     top:57.5%;
     left:0px;
     width: 170px;
     font-size: 14px;
 }
 .s4 .main p:nth-of-type(6){
     position: absolute;
     top:57%;
     left:174px;
     font-size: 14px;
     color:dodgerblue;
 }
 .s4 .main img:nth-of-type(7){
     position: absolute;
     top:65%;
     left:0px;
     width: 14px;
 }
 .s4 .main p:nth-of-type(7){
     position: absolute;
     top:64.3%;
     left:20px;
     font-size: 14px;
 }
 .s4 .main img:nth-of-type(8){
     position: absolute;
     top:70%;
     left:0px;
     width: 190px;
     height: 14px;
 }
 .s4 .main p:nth-of-type(8){
     position: absolute;
     font-size: 14px;
     top:69.5%;
     left:195px;
 }
 .s4 .main img:nth-of-type(9){
     position: absolute;
     width: 135px;
     height: 14px;
     top:75.5%;
     left:0px;
 }
 .s4 .main p:nth-of-type(9){
     position: absolute;
     font-size:14px;
     top:74.6%;
     left:140px;
 }


 .s5{
     color: #09facd;
 }
 .s5 h2{
     font-size: 25px;
     position: relative;
     top:12%;
 }
 .s5 small{
     padding-top:11px;
     display: block;
     font-size:7px;
     letter-spacing: 5px;
 }
 .s5 h2::before{
     content: "";
     background: url(../img/14.png);
     background-size: contain;/*图片适应屏幕大小*/
     width: 80px;
     height: 20px;
     display: inline-block;
     position: absolute;
     margin-left:-95px;
     margin-top:7px;
 }
 .s5 h2::after {
     background: url(../img/13.png);
     background-size: contain;
     top: 0;
     content: "";
     width: 80px;
     height: 20px;
     display: inline-block;
     position: absolute;
     margin-top:7px;
     margin-left:60px;
 }
 .s5 div{
     position: absolute;
     width:40%;
     height: 55%;
     top:25%;
     left:42%;
     margin-left: -40%;
 }
 .s5 div img:nth-of-type(1){
     width: 100%;
     position: absolute;
     left:20px;
 }
 .s5 div img:nth-of-type(2){
     width: 85%;
     position: absolute;
     left:31px;
     top:10px;
 }
 .s5 div img:nth-of-type(3){
     width: 100%;
     position: absolute;
     left:130%;
 }
 .s5 div img:nth-of-type(4){
     width: 85%;
     position: absolute;
     left:138%;
     top:10px;
 }
 .s5 div img:nth-of-type(5){
     width: 100%;
     position: absolute;
     left:20px;
     top:55%;
 }
 .s5 div img:nth-of-type(6){
     width: 85%;
     position: absolute;
     left:31px;
     bottom:8%;
 }
 .s5 div img:nth-of-type(7){
     width: 100%;
     position: absolute;
     left:130%;
     top:55%;
 }
 .s5 div img:nth-of-type(8){
     width: 85%;
     position: absolute;
     left:138%;
    bottom:8%;
 }
 .s5 div p:nth-of-type(1){
     position: absolute;
     top:36%;
     left:29%;
     font-size:16px;
 }
 .s5 div span:nth-of-type(1){
     background: -moz-linear-gradient(left, #00ecfc, #00fd9d); /*Mozilla*/
     background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d)); /*Old gradient for webkit*/
     background: -webkit-linear-gradient(left, #00ecfc, #00fd9d); /*new gradient for Webkit*/
     background: -o-linear-gradient(left, #00ecfc, #00fd9d); /*Opera11*/
     color:#000;
     border-radius: 10px;
     width: 123px;
     height: 27px;
     font-size: 14px;
     font-weight: bold;/*文字加粗*/
     line-height: 25px;
     display: inline-block;
     position: absolute;
     top:43%;
     left:22%;
 }
 .s5 div p:nth-of-type(2){
     position: absolute;
     top:36%;
     right:-171px;
     font-size:16px;
 }
 .s5 div span:nth-of-type(2){
     background: -moz-linear-gradient(left, #00ecfc, #00fd9d); /*Mozilla*/
     background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d)); /*Old gradient for webkit*/
     background: -webkit-linear-gradient(left, #00ecfc, #00fd9d); /*new gradient for Webkit*/
     background: -o-linear-gradient(left, #00ecfc, #00fd9d); /*Opera11*/
     color:#000;
     border-radius: 10px;
     width: 123px;
     height: 27px;
     font-size: 14px;
     font-weight: bold;/*文字加粗*/
     line-height: 25px;
     display: inline-block;
     position: absolute;
     top:43%;
     right:-182px;
 }
 .s5 div p:nth-of-type(3){
     position: absolute;
     top:337px;
     left:45px;
     font-size:16px;
 }
 .s5 div span:nth-of-type(3){
     background: -moz-linear-gradient(left, #00ecfc, #00fd9d); /*Mozilla*/
     background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d)); /*Old gradient for webkit*/
     background: -webkit-linear-gradient(left, #00ecfc, #00fd9d); /*new gradient for Webkit*/
     background: -o-linear-gradient(left, #00ecfc, #00fd9d); /*Opera11*/
     color:#000;
     border-radius: 10px;
     width: 123px;
     height: 27px;
     font-size: 14px;
     font-weight: bold;/*文字加粗*/
     line-height: 25px;
     display: inline-block;
     position: absolute;
     top:360px;
     left:22%;
 }
 .s5 div p:nth-of-type(4){
     position: absolute;
     top:337px;
     right:-170px;
     font-size:16px;
 }
 .s5 div span:nth-of-type(4){
     background: -moz-linear-gradient(left, #00ecfc, #00fd9d); /*Mozilla*/
     background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d)); /*Old gradient for webkit*/
     background: -webkit-linear-gradient(left, #00ecfc, #00fd9d); /*new gradient for Webkit*/
     background: -o-linear-gradient(left, #00ecfc, #00fd9d); /*Opera11*/
     color:#000;
     border-radius: 10px;
     width: 123px;
     height: 27px;
     font-size: 14px;
     font-weight: bold;/*文字加粗*/
     line-height: 25px;
     display: inline-block;
     position: absolute;
     top:360px;
     right:-183px;
 }
 .s6{
     color: #09facd;
 }
 .s6 h2{
     position: relative;
     top:12%;
     font-size:24px;
 }
 .s6 small{
     display: block;
     letter-spacing: 5px;
     padding-top:10px;
     font-size: 8px;
 }
 .s6 h2::before{
     content: "";
     background: url(../img/14.png);
     background-size: contain;/*图片适应屏幕大小*/
     width: 80px;
     height: 20px;
     display: inline-block;
     position: absolute;
     margin-left:-95px;
     margin-top:7px;
 }
 .s6 h2::after {
     background: url(../img/13.png);
     background-size: contain;
     top: 0;
     content: "";
     width: 80px;
     height: 20px;
     display: inline-block;
     position: absolute;
     margin-top:7px;
     margin-left:61px;
 }
 .s6 .main img:nth-of-type(1){
     position: absolute;
     left:11%;
     top:24%;
 }
 .s6 .main img:nth-of-type(2){
     position: absolute;
     left:19%;
     top:24%;
     width: 270px;
     height: 25px;
 }
 .s6 .main p:nth-of-type(1){
     position: absolute;
     left:6%;
     top:24.6%;
     width: 270px;
     height: 25px;
     color:#000;
 }
 .s6 .main img:nth-of-type(3){
     position: absolute;
     left:19%;
     top:30%;
     width: 270px;
     height: 95px;
 }
 .s6 .main p:nth-of-type(2){
     position: absolute;
     left:25%;
     top:31%;
     font-size:14px;
 }
 .s6 .main p:nth-of-type(3){
     position: absolute;
     left:25%;
     top:35%;
     font-size:14px;
 }
 .s6 .main p:nth-of-type(4){
     position: absolute;
     left:25%;
     top:39%;
     font-size:14px;
 }